:root {
     --aquablue: rgb(14, 238, 226);
     --textcolor: rgb(32, 32, 32);
     --navcolor: #32a8a8;
}

/* general styling of the pages start */
* {
    font-family: Arial, Helvetica, sans-serif;
}

img {
    -moz-box-shadow: 1px 2px 3px rgba(0,0,0,.5);
    -webkit-box-shadow: 1px 2px 3px rgba(0,0,0,.5);
    box-shadow: 1px 2px 3px rgba(0,0,0,.5);
    border-radius: 10px;
}

body {
    margin: 0;
    box-sizing: border-box;
    padding-top: 100px;
    background-color: rgba(74, 192, 188, 0.686);
}

.opinion, .experience, .swot, .feedback {
    height: 800px;
}

.study-choice {
    height: 950px;
}

.profession {
    height: 3700px;
}

.personal-info, .personal-info ul {
    text-align: center;
    list-style-type: none;
    margin: 0;
    padding:0;
}

main {
    width: 100%;
    font-size: 20px;
    color: var(--textcolor);
    text-align: center;
}

.opinion , .experience , .study-choice , .welcome, .swot, .feedback, .profession {
    width: 50%;
    margin-left: 26.5%;
}

.opinion img, .experience img, .feedback img, .profession img, .swot img, .welcome img, .study-choice img {
    width: 100%;
    height: auto;
}

.company {
    width: 30rem;
    height: 25rem;
}

.welcome {
    height: 1550px;
}

.personal-info img{
    width: 600px;
    height: auto;
    min-height: 300px;
}

.history ul, .profession ul {
    text-align: left;
}

a {
    color: var(--textcolor);
}

h2 {
    letter-spacing: 5px;
}

h3 {
    letter-spacing: 3px;
}
/* general styling of the pages end */

/* table styling start */
table, td, th {
    border: 1px solid;
    color: var(--textcolor);
    border-color: #03758f;
}

th {
    height: 80px;
    background-color: #3ed4d4;
}

td {
    text-align: center;
    height: 50px;
}

table {
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.q1 {
    background-color: rgb(152, 205, 255);
}

.q2 {
    background-color: rgb(255, 251, 203);
}

.q3 {
    background-color: rgb(250, 218, 177);
}

.q4 {
    background-color: rgb(182, 240, 204);
}
/* table styling end */

/* progress bar styling start */
.bar-container {
    display: flex;
    margin: auto;
    width: 60%;
    padding: 10px;
    height: 30px;
    background-color: #03758f;
    border-radius: 5px;
}

.bar-filler {
    width: 0%;
    height: 100%;
    background-color: aqua;
}

.bar-nbsa, .bar-max, .bar-0 {
    position: absolute;
}

.bar-nbsa {
    left: 63%;
    transform: translateY(-2.5rem);
}

.bar-max {
   right: 14%;
}

.bar-0 {
    left: 15%;
}

.nbsa-goal {
    width: 0.3%;
    position: absolute;
    height: 1.85rem;
    right: 35%;
    background-color: rgb(255, 0, 0);
    z-index: 20;
}

@media screen and (max-width: 1100px) {
    .bar-0 {
        left: 8%;
    }
    .bar-max {
        right: 6%;
    }
}
/* progress bar styling end */

/* nav bar styling start */
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--navcolor);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}

.logo img {
    height: 60px;
    width: 60px;
}

.logo a {
    text-decoration: none;
}

.links {
    list-style-type: none;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.links li {
    float: left;
}

.links a, .dropbtn, .side-dropbtn {
    display: inline-block;
    text-decoration: none;
    text-align: center;
    letter-spacing: 2px;
    font-weight: bold;
    font-size: 15px;
    padding: 14px 16px;
}

.links a:hover, .dropdown:hover .dropbtn, .side-dropdown:hover .side-dropbtn {
    background-color: rgb(17, 118, 129);
}

.dropdown, .side-dropdown {
    display: inline-block;
}

.dropdown-content, .side-dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    min-width: 160px;
    z-index: 1;
}

.dropdown-content a, .side-dropdown-content a {
    color: var(--textcolor);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover, .side-dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content, .side-dropdown:hover .side-dropdown-content {
    display: block;
}

.active {
    background-color: var(--aquablue);
}

@media screen and (max-width: 768px) {
    .links li,
    .logo,
    .dropdown,
    .side-dropdown,
    body {float:none;}
    main {
        padding-top: 144px;
    }
}
/* nav bar styling end */

/* faq styling start */
.faq {
    width: 100%;
    height: 115vh;
    display: flex;
    align-items: top;
    justify-content: center;
}

.container {
    width: 100%;
    max-width: 80rem;
    margin: 0 auto;
    padding: 0 1.5rem;
}

.accordion-item {
    background-color: rgb(200, 253, 245);
    border-radius: .4rem;
    margin-bottom: 1rem;
    padding: 1rem;
    box-shadow: .5rem 2px .5rem rgba(0,0,0,.1);
    text-align: left;
}

.accordion-link {
    font-size: 1.6rem;
    text-decoration: none;
    color: var(--textcolor);
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;
}

.accordion-link ion-icon {
    padding: .5rem;
}

[name|="remove-outline"] {
    display: none;
}

.answer {
    max-height: 0;
    overflow: hidden;
    position: relative;
    background-color: #81c7c7;
    transition: max-height 650ms;
}

.answer::before {
    content: "";
    position: absolute;
    width: .6rem;
    height: 100%;
    background-color: rgb(75, 148, 181);
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

.answer p {
    font-size: 1.4rem;
    color: var(--textcolor);
    padding: 2rem;
}

.accordion-item:target .answer {
    max-height: 20rem;
}

.accordion-item:target [name|="add-outline"] {
    display: none;
}

.accordion-item:target [name|="remove-outline"] {
    display: block;
}
/* faq styling end */

/* animations */
.welcome {
    animation: 1.5s welcome 0s forwards;
    transform:translateX(-180%);
}

.profile {
    animation: 1.5s profile 0s forwards;
    transform:translateX(-80%);
}

.profession {
    animation: 1.5s profession 0s forwards;
    transform:translateX(-170%);
}

.feedback {
    animation: 1.5s feedback 0s forwards;
    transform:translateX(-180%);
}

.swot {
    animation: 1.5s swot 0s forwards;
    transform:translateX(-180%);
}

.study-choice {
    animation: 1.5s study-choice 0s forwards;
    transform:translateX(-180%);
}

.opinion {
    animation: 1.5s opinion 0s forwards;
    transform:translateX(-180%);
}

.experience {
    animation: 1.5s experience 0s forwards;
    transform:translateX(-180%);
}

.dashboard {
    animation: 1.5s dashboard 0s forwards;
    transform:translateX(-180%);
}

.faq {
    animation: 1.5s faq 0s forwards;
    transform:translateX(-180%);
}

.faq-text {
    animation: 1.5s faq-text 0s forwards;
    transform:translateX(-180%);
}

@keyframes welcome {
    to {
      transform:translateX(0);
    }
}

@keyframes profile {
    to {
      transform:translateX(0);
    }
}

@keyframes profession {
    to {
      transform:translateX(0);
    }
}

@keyframes feedback {
    to {
      transform:translateX(0);
    }
}

@keyframes swot {
    to {
      transform:translateX(0);
    }
}

@keyframes study-choice {
    to {
      transform:translateX(0);
    }
}

@keyframes opinion {
    to {
      transform:translateX(0);
    }
}

@keyframes experience {
    to {
      transform:translateX(0);
    }
}

@keyframes dashboard {
    to {
      transform:translateX(0);
    }
}

@keyframes faq {
    to {
      transform:translateX(0);
    }
}

@keyframes faq-text {
    to {
      transform:translateX(0);
    }
}